NET "clock" LOC = "C9" | IOSTANDARD = LVCMOS33 ;

NET "counter<5>" LOC = "F9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "counter<4>" LOC = "E9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "counter<3>" LOC = "D11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "counter<2>" LOC = "C11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "counter<1>" LOC = "F11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "counter<0>" LOC = "E11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;

NET "rst_n" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP | CLOCK_DEDICATED_ROUTE = FALSE ;
NET "dir" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ;
